/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: ;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color: ;
  --first-color-alt: ;
  --second-color: ;
  --title-color: ;
  --text-color: ;
  --text-color-light: ;
  --body-color: ;
  --container-color: ;
  --border-color: ;
  --border-color-alt: ;

  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: ;
  --second-font: ;
  --big-font-size: ;
  --h1-font-size: ;
  --h2-font-size: ;
  --h3-font-size: ;
  --h4-font-size: ;
  --large-font-size: ;
  --normal-font-size: ;
  --small-font-size: ;
  --smaller-font-size: ;
  --tiny-font-size: ;

  /*========== Font weight ==========*/
  --weight-400: ;
  --weight-500: ;
  --weight-600: ;
  --weight-700: ;

  /*========== Transition ==========*/
  --transition: ;
}

/* Responsive typography */
@media screen and (max-width: 1200px) {
  :root {
    --big-font-size: ;
    --h1-font-size: ;
    --h2-font-size: ;
    --h3-font-size: ;
    --h4-font-size: ;
    --large-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;
    --tiny-font-size: ;
  }
}

/*=============== BASE ===============*/

/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== HEADER & NAV ===============*/

/* Active link */

/*=============== HOME ===============*/

/*=============== BUTTONS ===============*/

/*=============== CATEGORIES ===============*/

/* Swiper class */

/*=============== PRODUCTS ===============*/

/* Active Tab */

/* Product Hover */

/*=============== DEALS ===============*/

/*=============== NEW ARRIVALS ===============*/

/*=============== SHOWCASE ===============*/

/*=============== NEWSLETTER ===============*/

/*=============== FOOTER ===============*/

/*=============== BREADCRUMBS ===============*/

/*=============== SHOP ===============*/

/*=============== DETAILS ===============*/

/*=============== DETAILS INFO & REVIEWS ===============*/

/*=============== CART ===============*/

/*=============== CART OTHERS ===============*/

/*=============== WISHLIST ===============*/

/*=============== CHECKOUT ===============*/

/*=============== COMPARE ===============*/

/*=============== LOGIN & REGISTER ===============*/

/*=============== ACCOUNTS ===============*/

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

/* For medium devices */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

/* For small devices */
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
}



.deals_section{
  background: url('../img/deals-1.jpg');
}
.deals_section2{
  background: url('../img/deals-2.png');
}

















*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}
:root{
  --space: 2rem;
  --main-color:#da6285;
  --pink-color:#ff8e9d;
  --pink-opacity:#ffe6e9;
  --white-alpha-40:rgba(255, 255, 255, 0.40);
  --white-alpha-25:rgba(255, 255, 255, 0.25);
  --backdrop-filter: blue(5px);
  --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.40);


}
body{
  background-image: url('../css/image/bg1.webp');
  background-position: center;
}

html{
  scroll-behavior: smooth;
}
.btn{
  background-color: var(--white-alpha-25);
  border: 2px solid var(--white-alpha-40);
  backdrop-filter: var(--backdrop-filter);
  box-shadow: var(--box-shadow);
  text-transform: capitalize;
  color: var(--main-color);
  padding: .8rem 2rem;
  border-radius: 1.5rem;
  font-size: 20px; 
  cursor: pointer;
  position: relative;
  text-align: center;
}
.btn::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100;
  width: 0;
  border-radius: 30px;
  background-color: var(--main-color);
  z-index: -1;
  transition: width 0.3s ease;
  text-align: center;
}
.btn:hover::before{
  width: 100%;
}
.btn:hover{
 

  color: #179d8e;
}
.empty{
  background-color: var(--white-alpha-25);
  border: 2px solid var(--white-alpha-40);
  backdrop-filter: var(--backdrop-filter);
  box-shadow: var(--box-shadow);
  text-transform: capitalize;
  color: var(--main-color);
  padding: 1.5rem;
  text-align: center;
  margin: 2rem auto;
  width: 50vw;
  border-radius: .5rem;
  line-height: 2;

}
.empty p{
  font-size: 20px;
  

}
input[type='submit']{
  cursor: pointer;
}
input[type='submit']:hover{
  color: var(--main-color);
}


.heading{
  text-align: center;
  line-height: 1.5;

}
.heading h1{
  font-size: 2rem;
  text-transform: capitalize;
}
.heading span{
  color: #179d8e;
  text-transform: capitalize;
  font-size: 30px;

}
.heading img{
  margin-top: .5rem;
  width: 150px!important;
}

.flex-btn{
  display: flex;
  justify-content: center;

}
.flex-btn .btn{
  margin: .5rem;
}

.banner{
  width: 100%;
  height: 90vh;
  background: url('../img/category-7.jpg');
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.banner .detail{
  padding-left: 4%;
  color: gray;
  line-height: 1.5;
}


.banner .detail p{
  font-size: 16px;
  margin-bottom: 1rem;
}


.banner .detail span{
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-top: 1rem;
}
.banner .detail span a{
  color: var(--main-color);
  
}

.banner .detail span i{
  margin: 0 1rem;
}


.box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
  align-items: center;
}
.box-container .box{
  background-color: var(--white-alpha-25);
  border: 2px solidvar(--white-alpha-40);
  backdrop-filter: var(--backdrop-filter);
  box-shadow: var(--box-shadow);
  margin: 1rem;
}
.chef{
  padding-left: 4%;
}
.chef .box{
  line-height: 1.5;
  text-align: center;
  box-shadow: none;
  
}
.chef .box .img{
  width: 70%;
  margin-bottom: -2rem;
  
  
}
.chef .box p{
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 2rem;
}

.story{
  background-image: url("../css/image/about_bg.jpeg");
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  line-height: 1.5;
}
.story h1{
  color: #da6285;
}
.story p{
  padding-bottom: 2.2rem;
  color: #000;

}

.container{
  padding: 4%;
  padding-bottom: 0;
}
.container .box-container .img-box{
  margin: 1rem;
}
.container .box-container .img-box img{
  background-image: url("../img/category-6.jpg");
  background-size: contain;
  width: 80%;
  margin-bottom: -1.1rem;
}
.container .box-container .box{
  text-align: center;
  line-height: 2;
  box-shadow: none;
}
.container .box-container p{
  color: #666;
  font-size: 16px;
  margin-bottom: 2rem;
}


.team{
  background-image: url("..css/image/bn3.3.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 6%;
}
.team .box-container .box{
  overflow: hidden;
}
.team .box-container .box img{
  width: 100%;
  transition: .5s;
}
.team .box-container .box:hover img{
  transform: scale(1.1);
}
.team .box-container .box .content{
  position: relative;
  display: block;
  background-color: #fff;
  padding: 43px 30px 42px 30px;
  margin-top: -80px;
  border-top-right-radius: 80px;
  text-align: center;
  line-height: 1.5;
  text-transform: capitalize;
}
.team .box-container .box .content .shape{
  position: absolute;
  left: 0;
  top: -80px;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
}

.mission{
  background-image: url('..css/image/bg1.webp');
  background-position: center;
  background-size: cover;
  padding: 0 4%;
  position: relative;
}
.mission .heading{
  color: #179d8e;
}
.mission .box-container .box{
  box-shadow: none;
  background-color: transparent;
  border: none;
}
.mission .box-container .box .detail{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .6rem 0;

}
.mission .box-container .box .detail h1{
  color: var(--main-color);
  margin-bottom: .5rem;
}
.mission .box-container .box .detail p{
  color: #000;
  line-height: 1.5;
}
.mission .box-container .box .detail .img-box{
  text-align: center;
  margin-right: 1rem;
}
.mission .box-container .box .detail .img-box img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: contain;
  border: 2px dashed var(--main-color);
}
.mission .img{
  height: 40rem;
  width: 100%;
  margin-bottom: -3,7rem;
}



.service{
  padding: 6%;
}
.service .box-container .box{
  background-color: var(--pink-opacity);
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.5;
}
.service .box-container .box .detail{
  border-left: 1px solid #000;
  padding-left: 2rem;
}
.service .box-container .box h4{
  font-size: 1.8rem;
}
.service .box-container .box span{
  font-size: 1.4rem
}
.service .box-container .box .icon{
  cursor: pointer;
  overflow: hidden;
  width: 130px;
}
.service .box-container .box .icon-box{
  display: flex;
  width: 200%;
  transition: .2s ease-in-out;
}
.service .box-container .box .icon-box .img1,
.service .box-container .box .icon-box .img2{
  flex: 1 0 50%;
  width: 40px;
  height: 60px;
  object-fit: contain;

}
.service .box-container .box:hover .icon-box{
  transform: translateX(-50%);
}


.categories{
  padding: 4%;
}
.categories .box-container{
  padding-top: 4%;
  grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
}
.categories .box-container .box{
  margin: .5rem;
  position: relative;
  overflow: hidden;
}

.categories .box-container .box:hover img{
  transform: scale(1.1);
}
.categories .box-container .box img{
  width: 100%;
  transition: .5s;
}
.categories .box-container .box a{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 11;
  width: 90%;
  text-align: center;
  margin: 1rem auto;
  font-size: 1.5rem;
  color: #000;
}

.menu-banner{
  width: 100%;
}


.taste{
  background-image: url('./image/bn3.3.webp');
  padding: 4% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.taste .box-container .box{
  position: relative;
}
.taste .box-container .box .detail{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 10%;
  line-height: 1.5;
  text-transform: capitalize;
}


.taste .box-container .box img{
  width: 100%;
  outline: 0.1rem solid #fff;
  outline-offset: -.5rem;
  border-radius: .5rem;
  transition: .5s;
}
.taste .box-container .box:hover img{
  outline: .4rem solid var(--main-color);
  outline-offset: -.2rem;
}


.pride{
  background-image: url('./image/ice-creem-banner-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 80px 0 80px 0;
  padding: 220px 0 273px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}
.pride .detail{
  padding-right: 10%;
}
.pride .detail h1{
  font-size: 25px;
  color: #232f35;

}
.pride .detail p{
  color: #232f35;
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  
}
.checkout{
  background-image: url("../css/image/bn3.3.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 6%;
}



.checkout .row{
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
}
.checkout .row form,
.checkout .summary{
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  width: 1000px;
  padding: 1rem;
  margin: 1rem auto;
}
.checkout .row h3{
  font-size: 2rem;
  padding-bottom: 1rem;
  text-transform: capitalize;
  text-align: center;
}
.checkout .row form .box{
  flex: 1 1 20rem;
}
.checkout .row form .input{
  background-color: var(--white-alpha-25);
  border: 2px solid var(--white-alpha-40);
  backdrop-filter: var(--backdrop-filter);
  box-shadow: var(--box-shadow);
  width: 100%;
  border-radius: .5rem;
  margin: 1rem 0;
  font-size: 1.3rem;
  padding: 1rem;

}
.checkout .row form .flex{
  display: flex;
  column-gap: 1.5rem;
  flex-wrap: wrap;
}
.checkout .row form p{
  text-align: left;
  padding-top: .5rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: gray;
}
.checkout .row form span{
  color: red;
}
.checkout .row form .btn{
  width: 100%;
}